body {
  font-family: "Shippori Antique B1", sans-serif;
  background-image: url("https://cdn.discordapp.com/attachments/884382170251132938/948520113148153856/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #283044;
}

.cozy {
  font-family: "Shippori Antique B1", sans-serif;
  background-color: #e5e1ee;
  border: 2px solid #1dddee;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  transition-duration: 0.4s;
}

.cozy-link {
  font-family: "Shippori Antique B1", sans-serif;
  color: #283044;
}

.cozy-button {
  font-family: "Shippori Antique B1", sans-serif;
  background-color: #1dddee;
  border: 2px solid #283044;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.cozy-button:hover {
  background-color: #283044;
  color: white;
}

footer {
  text-align: center;
  padding: 25px;
  border: 2px;
  color: White;
  border-radius: 8px;
  transition-duration: 0.4s;
}
